<nav class="flex h-20 bg-orange-400 w-screen">
    <div class=" ml-10 flex items-center"><a class="link font-bold text-4xl text-white" href="">BNI</a></div>
    <div class="ml-auto mr-10 flex items-center"><a class="link text-white" href="/profile">
            <div class="bg-blue-500 w-28 h-12 flex justify-center items-center rounded-md">Profile</div>
        </a></div>
</nav>
<main>
    <!-- panel 1 -->
    <div class="flex w-screen mb-4">
        <div class="ml-28 mt-8">
            Hi, nama !
        </div>
        <div class="ml-auto mr-28 mt-4">
            <button class="bg-amber-500 w-16 h-8 text-white">Add</button>
        </div>
    </div>
<div class="w-screen flex justify-center">
    <table class="w-[1200px] border-solid border-2" >
        <tr class="border-solid border-2">
            <th class="border-solid border-2"></th>
            <th class="border-solid border-2">Name</th>
            <th class="border-solid border-2">Negara</th>
            <th class="border-solid border-2">Kota</th>
            <th class="border-solid border-2">Balance</th>
        </tr>
        <tr class=""  *ngFor="let data of tutorials">
            <td class="border-solid border-2"><img src={{data.avatar}} alt=""></td>
            <td class="border-solid border-2">{{data.name}}</td>
            <td class="border-solid border-2">{{data.country}}</td>
            <td class="border-solid border-2">{{data.city}}</td>
            <td class="border-solid border-2">{{data.balance}}</td>
        </tr>
    </table>
</div>
</main>